<div class="contents__block -wide">
  <div class="main">
    <h1 class="main__title -h1">Historian</h1>
    <div class="c-historian">
      <table class="c-historian__table">
        <tr>
          <th class="c-historian__box -head">時期</th>
          <% @technologies.each do |t| %>
            <th class="c-historian__box -head" title="<%= t.description %>"><%= t.name %></th>
          <% end %>
        </tr>
        <tr>
          <th> </th>
          <% @technologies.each do |t| %>
            <th class="c-historian__box -vtop">
              <%= render 'shared/tags', technology: t %>
            </th>
          <% end %>
        </tr>
        <% @histories.each do |h| %>
          <tr title="<%= date h.year, h.month, h.day %>">
            <td class="c-historian__box -date"><%= date h.year, h.month, h.day %></td>
            <% @technologies.each do |t| %>

                <%if t.id == h.technology_id %>
                  <td class="c-historian__box -data" title="<%= h.description %>"><%= link_to h.title, technology_history_path(t, h) %></td>
                <% else %>
                  <td class="c-historian__box -none"> </td>
                <% end %>

            <% end %>

          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
