<p id="notice"><%= notice %></p>

<h1>Technologies</h1>

<table>
  <thead>
    <tr>
      <th>お名前</th>
      <th>操作</th>
      <th>概要</th>
      <th>誕生日(年齢)</th>
    </tr>
  </thead>

  <tbody>
    <% @technologies.each do |t| %>
      <tr>
        <td>
          <%= link_to t.name, t %>
          <%= render 'shared/tags', technology: t %>
        </td>
        <td>[<%= link_to '編集', edit_technology_path(t) %>] [<%= link_to '削除', t, method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
        <td><%= t.description.slice(0, 50) %>...</td>
        <td><%= date(t.year, t.month, t.day) %>(<%= age(t.year, t.month, t.day) %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technology', new_technology_path %>
