<div class="contents__block -basic">
  <div class="main">
    <p id="notice"><%= notice %></p>

    <h1 class="main__title -h1">Technologies</h1>
    <%= link_to 'New Technology', new_technology_path %>

    <% @technologies.each do |t| %>
      <h2 class="main__title -h2"><%= link_to t.name, t %></h2>
      <%= render 'shared/tags', technology: t %>
      <h3 class="main__title -h3"><%= date(t.year, t.month, t.day) %>(<%= age(t.year, t.month, t.day) %>)</h3>


      <p><%= t.description %></p>
      [<%= link_to '編集', edit_technology_path(t) %>]
      [<%= link_to '削除', t, method: :delete, data: { confirm: 'Are you sure?' } %>]
    <% end %>



  </div>
</div>
