<p id="notice"><%= notice %></p>

<h1><%= @technology.name %></h1>

<h2>誕生日：<%= date(@technology.year, @technology.month, @technology.day) %>(<%= age(@technology.year, @technology.month, @technology.day) %>)</h2>

<p>
  <%= @technology.description %>
</p>

<h2>歴史</h2>
<%= link_to "New History", new_technology_history_path(@technology) %>
<% if @technology.histories.any? %>
<ul>
  <% @technology.histories.each do |history| %>
  <li>
    <%= date(history.year, history.month, history.day) %>
    <%= history.title %>
    <%= link_to(
      '[Edit]',
      edit_technology_history_path(@technology, history)
    ) %>
    <%= link_to(
      '[x]',
      technology_history_path(@technology, history),
      {
        method: :delete,
        class: 'command',
        data: { confirm: 'Sure?'}
      }
    ) %>
  </li>
  <% end %>
</ul>
<% end %>

<%= form_for([@technology, @technology.histories.build]) do |f| %>
  <%= f.text_field(:year, {placeholder:'1999'})  %>
  <%= f.text_field(:month, {placeholder:'1'})  %>
  <%= f.text_field(:day, {placeholder:'1'})  %>
  <%= f.text_field(:title, {placeholder:'enter title'})  %>
  <%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_technology_path(@technology) %> |
<%= link_to 'Back', technologies_path %>
