<!DOCTYPE html>
<html>
  <head>
    <title>Historia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "historian", "/" %>
    <%= link_to "tags", tags_path() %>
    <%= link_to "technology", technologies_path() %>
    <%= yield %>
  </body>
</html>
