<!DOCTYPE html>
<html>
  <head>
    <title>Historian</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__title"><%= link_to "Historian", "/" %></div>
    </header>
    <nav class="nav">
      <menu class="nav__menu">
        <%= link_to "Technologies", technologies_path() %>
        <%= link_to "Tags", tags_path() %>
      </menu>
    </nav>
    <div class="contents">
      <%= yield %>
    </div>
    <footer class="footer__wrap">By Nekonecode</footer>
  </body>
</html>
